{
  "Items": {
    "c8908b31d76c40d8baf4d28dba59ee45": {
      "type": "Adapters",
      "command": "python Configurator/configurator.py",
      "label": "ConfiguratorProcess",
      "subtype": "ProcessAdapter",
      "uuid": "c8908b31d76c40d8baf4d28dba59ee45"
    },
    "157b2ab275c046f0b0b9279c31c87032": {
      "process_adapter": "c8908b31d76c40d8baf4d28dba59ee45",
      "subtype": "StartProcessAction",
      "label": "Start_Configurator",
      "type": "Actions",
      "uuid": "157b2ab275c046f0b0b9279c31c87032"
    },
    "95e04f5fc9354c31bf59921ef38fb1e7": {
      "type": "Triggers",
      "label": "Start Configurator",
      "subtype": "OnStartTrigger",
      "uuid": "95e04f5fc9354c31bf59921ef38fb1e7"
    }
  },
  "TriggerActions": {
    "95e04f5fc9354c31bf59921ef38fb1e7": {
      "actions": [
        "157b2ab275c046f0b0b9279c31c87032"
      ],
      "enabled": true
    }
  },
  "ApiServerAddress": "127.0.0.1:5000",
  "counter_keep_alive": 600,
  "dir_paths": {
    "Adapters": [
      "LingerAdapters"
    ],
    "Actions": [
      "LingerActions"
    ],
    "Triggers": [
      "LingerTriggers"
    ]
  }
}