{
  "Items": {
    "157b2ab275c046f0b0b9279c31c87032": {
      "process_adapter": "c8908b31d76c40d8baf4d28dba59ee45",
      "subtype": "StartProcessAction",
      "type": "Actions",
      "uuid": "157b2ab275c046f0b0b9279c31c87032",
      "label": "Start_Configurator"
    },
    "f5df8925b9d649e9a4fa709eecf1763b": {
      "subtype": "RestartLingerAction",
      "type": "Actions",
      "uuid": "f5df8925b9d649e9a4fa709eecf1763b",
      "label": "RestartLinger"
    },
    "84fd37e79cbb447e8e2f6010b3ba65e6": {
      "subtype": "LogAdapter",
      "type": "Adapters",
      "uuid": "84fd37e79cbb447e8e2f6010b3ba65e6",
      "label": "TestLogAdapter"
    },
    "2b0c918444054d579b5fa10b231c9aec": {
      "subtype": "DirWatchAdapter",
      "type": "Adapters",
      "uuid": "2b0c918444054d579b5fa10b231c9aec",
      "label": "TestDirWatchAdapter"
    },
    "c8908b31d76c40d8baf4d28dba59ee45": {
      "subtype": "ProcessAdapter",
      "label": "ConfiguratorProcess",
      "command": "python Configurator/configurator.py",
      "uuid": "c8908b31d76c40d8baf4d28dba59ee45",
      "type": "Adapters"
    },
    "95e04f5fc9354c31bf59921ef38fb1e7": {
      "subtype": "OnStartTrigger",
      "type": "Triggers",
      "uuid": "95e04f5fc9354c31bf59921ef38fb1e7",
      "label": "Start Configurator"
    }
  },
  "TriggerActions": {
    "95e04f5fc9354c31bf59921ef38fb1e7": {
      "enabled": false,
      "actions": [
        "157b2ab275c046f0b0b9279c31c87032"
      ]
    }
  },
  "counter_keep_alive": 600,
  "dir_paths": {
    "Adapters": [
      "LingerAdapters"
    ],
    "Actions": [
      "LingerActions"
    ],
    "Triggers": [
      "LingerTriggers"
    ]
  },
  "ApiServerAddress": "192.168.159.134:5000"
}